body{
    margin-left: auto;
    margin-top: auto;
}

.hidden  {
    display: none;
}
.colorBtn {
    display:  inline-block;
    width: 40px;
    height: 60px;
    margin-left: auto;
    margin-top: auto;
    border-style: solid;
}

